@import 'variables';


table {
  border-spacing: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border-collapse: collapse;
  // position: relative;

  td, th {
    border-bottom: 1px solid $grey-200;
    padding: 1rem 1.5rem; // 16px 24px
    text-align: left;
  }
  
  thead {
    th {
      font-weight: bolder;
      background-color: $main-500;
      color: $white;
      position: sticky;
      top: 0;
    }
  }
  
  // td:first-child,
  // th:first-child {
  //   padding-left: 0;
  // }
  
  // td:last-child,
  // th:last-child {
  //   padding-right: 0;
  // }

  tbody {
    tr:nth-child(2n) {
      background-color: lighten($grey-100, 3%);
    }
  }
}