
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');

// Colors
$main-500: #00B398;
$main-700: #009681;

// Orange
$orange-50: #FFF3E1;
$orange-100: #FEDAB4;
$orange-200: #FDC187;
$orange-300: #FCA85A;
$orange-400: #FB8F2D;
$orange-500: #EB6400;
$orange-600: #D55800;
$orange-700: #BF4C00;
$orange-800: #A94000;
$orange-900: #933400;

$orange-lighter: #FFF3E1;
$orange-light: #FDC187;
$orange: #EB6400;
$orange-dark: #BF4C00;
$orange-darker: #933400;

// Grey
$grey-50: #fcfcfc;
$grey-100: #eeeeee;
$grey-200: #E0E0E0;
$grey-300: #dddddd;
$grey-400: #B8B8B8;
$grey-500: #999999;
$grey-600: #7A7A7A;
$grey-700: #666666;
$grey-800: #3D3D3D;
$grey-900: #1e1e20;

$grey-lighter: #F5F5F5;
$grey-light: #E0E0E0;
$grey: #999999;
$grey-dark: #5C5C5C;
$grey-darker: #1F1F1F;

// Semantic
$info-500: #008CC9;
$info-50: lighten($info-500, 10%);
$info-200: lighten($info-500, 5%);
$info-700: darken($info-500, 5%);
$info-900: darken($info-500, 10%);

$success-500: $main-500;
$success-50: lighten($success-500, 10%); 
$success-200: lighten($success-500, 5%);
$success-700: darken($success-500, 5%);
$success-900: darken($success-500, 10%);

$warning-500: #FF9948;
$warning-50: lighten($warning-500, 10%);
$warning-200: lighten($warning-500, 5%);
$warning-700: darken($warning-500, 5%);
$warning-900: darken($warning-500, 10%);

$error-500: #E33D30;
$error-50: lighten($error-500, 10%);
$error-200: lighten($error-500, 5%);
$error-700: darken($error-500, 5%);
$error-900: darken($error-500, 10%);

// Neutral
$black: #1e1e20;
$white: #ffffff;

// Typography
$sans-serif: "Noto Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
$monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// UI primitives
$border-radius: 3px;